body{
    font-family: 'IM Fell Great Primer SC', serif;
    background-image: url(../bgImg2.jpg);
    background-repeat: round space;
    color: lavenderblush;
    text-align: center;
}
button{
    border-radius: 50%;
    border: none;
    height: 40px;
    width: 40px;
    background-color: rgb(47, 43, 99);
    font-size: 30px;
    color: lavenderblush;
}
#output{
    font-size: 50px;
    margin: 0px 0px 10px;
}

.outside{
    border-radius: 50%;
    margin: 50px auto;
    padding-top: 100px;
    height: 300px;
    width: 400px;
    background-color: rgba(187, 99, 87, 0.8);
}
